@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Cabin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px;
  width: auto;
  background-color: rgb(41, 38, 45);
  font-family: Cabin;
  color: white;
}

h1,
h2
{
  font-family: Cabin;
  margin-bottom: 6px;
}

h3,
p,
label {
color: #222630;
}

h1 {
  font-size:xx-large;
  margin-top: 30px;
}

h3 {
  padding-bottom: 5px;
}

#main-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 100px 250px;
  min-width: 450px;
  height: auto;
  border: 2px solid white;
  border-radius: 8px;
}

#total-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 6px;
  padding: 10px;
  height: 80px;
  width: 70%;
}

#inout-main-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 6px;
  height: 80px;
  width: 70%;
  padding: 50px 10px;;
  color: #222630;
}

#in-container,
#out-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222630;
  font-weight: 800;
  padding: 10px;
}

#total-in,
#total-out {
  width: 80%;
  margin-bottom: 12px;
}



#total-in {
  border: 1.5px solid rgb(102, 163, 102);
  border-radius: 4px;
  height: 30px;
  width: 100px;
  padding: 20px 30px;
}

#total-out {
  border: 1.5px solid rgb(226, 123, 123);
  border-radius: 4px;
  height: 30px;
  width: 100px;
  padding: 20px 30px;

}

#historic-container {
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid rgb(223, 223, 223);
  padding: 10px;
  height: 80px;
  width: 70%;
  color:rgb(41, 38, 45);
}

.transactions-list {
  list-style: none;
}

#add-transaction-container {
  text-align: center;
  margin-bottom: 35px;
  border: 2px solid rgb(34, 112, 196);
  color: rgb(34, 112, 196);
  border-radius: 6px;
  padding: 10px;
  width: 70%;
  font-family: Cabin;
}

#add-transaction-container > form {
  font-weight: bolder;
  color:#222630;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 7px;
  border: 1px;
  border-radius: 4px;
  width: 90%;
}

label,
button {
  font-size: large;
}

label,
h6 {
  font-family: Assistant;
  padding-bottom: 5px;
  color: white;
}

button {
  background-color: rgb(34, 112, 196);
  margin-top: 20px;
  padding: 10px 20px;
  width: fit-content;
  border-style: none;
  border-radius: 6px;
  font-family: Cabin;
  color:white;
}

footer {
  align-self: center;
  font-family: Cabin;
  font-size: larger;
  color: white;
}